# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# IDEs
.idea/
*.iml
.metadata
.vscode/

# Android local e sensível
android/.gradle/
android/local.properties
android/key.properties
android/captures/
*.jks
*.keystore

# Arquivos gerados
**/generated_plugin_registrant.dart
**/GeneratedPluginRegistrant.java

# Sistema operacional
.DS_Store
Thumbs.db
